/*main.0cf68a.css*/
.mid-col {
    position: absolute;
    right: 0;
    min-height: 100%;
    /*background: #eaeaea;*/
    background-image: url(img/bg.jfif);
    background-attachment: fixed;
    left: 300px;
    width: auto
  }

  .article {
    margin: 30px;
    position: relative;
    border: 1px solid #ddd;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    /*background: #fff;*/
    background: #ffffffe9;
    transition: all .2s ease-in
  }
  /*I:\Blog\themes\yilia\layout\_partial\article.ejs的评论背景与文章相同*/

.article-entry blockquote {
  background: #ddd;
  border-left: 5px solid #ccc;
  padding: 15px 20px;
  margin-top: 10px;
  border-left: 5px solid #657b83;
  /*background: #f6f6f6*/
  background: #f6f6f6a6
}

  .article-entry table thead tr {
    /*background: #f8f8f8*/
    background: #ededed
  }
  /*
.article-entry table tbody tr:hover {
  background: #efefef
}
*/

.toc-article {
  z-index: 100;
  background: #ffffffda;
  /*background: #fff;*/
  border: 1px solid #ccc;
  max-width: 250px;
  min-width: 150px;
  max-height: 500px;
  overflow-y: auto;
  /*-webkit-box-shadow: 5px 5px 2px #ccc;
  box-shadow: 5px 5px 2px #ccc;*/
  font-size: 12px;
  padding: 10px;
  position: fixed;
  right: 35px;
  top: 129px;
}

/*这里还删掉了了left-col.ejs的<div class="overlay" style="background: <%= theme.style && theme.style.header ? theme.style.header : defaultBg %>"></div>中的style部分*/
.left-col {
    /*background: #fff;*/
    background-image: url(img/left-col-bg.jfif);
    width: 300px;
    position: fixed;
    opacity: 1;
    transition: all .2s ease-in;
    height: 100%;
    z-index: 999
  }
/*这里可以加上模糊，但是我不想改*/

